In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [5]:
df_formal_education = pd.read_csv("dane/course-files/StackOverflowDeveloperSurvey.csv", usecols=['FormalEducation'])

In [6]:
df_formal_education

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [7]:
type(df_formal_education)

pandas.core.frame.DataFrame

In [8]:
df_formal_education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [9]:
ds_formal_education = pd.read_csv("dane/course-files/StackOverflowDeveloperSurvey.csv", usecols=['FormalEducation'], squeeze=True)

In [10]:
type(ds_formal_education)

pandas.core.series.Series

In [12]:
ds_formal_education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [13]:
allInfo = pd.read_csv("dane/course-files/StackOverflowDeveloperSurvey.csv")

In [16]:
country= allInfo['Country']

In [18]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [19]:
filterOnlyUsa = country == "United States"

In [20]:
filterOnlyUsa.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [21]:
ds_formal_education.where(filterOnlyUsa).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object