In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [28]:
salary = pd.read_csv("dane/course-files/StackOverflowDeveloperSurvey.csv", usecols=['Salary'], squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [25]:
len(salary)

12891

In [26]:
min(salary)

0.0

In [27]:
max(salary)

197000.0

In [29]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [30]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [33]:
listSalarySorted = sorted(salary, reverse=True)

In [34]:
listSalarySorted[0:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [35]:
salary.name = "Salary of a person"

In [36]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64