In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv("dane/course-files/fuel.csv", low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [3]:
fuel.Make.head()

0    Alfa Romeo
1    Alfa Romeo
2    Alfa Romeo
3    Alfa Romeo
4    AM General
Name: Make, dtype: object

In [7]:
fuel.Make.value_counts().head()

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [8]:
fuel['Vehicle ID'][1873]

26784

In [9]:
fuel['Combined MPG (FT1)'][fuel['Vehicle ID'][1873]]

29.0

In [12]:
fuel['Combined MPG (FT1)'].max()

112.0

In [13]:
fuel['Combined MPG (FT1)'].idxmax()

31674

In [16]:
fuel.loc[fuel['Combined MPG (FT1)'].idxmax()]

Vehicle ID                      31673
Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31674, dtype: object

In [17]:
shortfuel = fuel[['Make', 'Model']]

In [18]:
shortfuel.head()

         Make               Model
0  Alfa Romeo           GT V6 2.5
1  Alfa Romeo           GT V6 2.5
2  Alfa Romeo  Spider Veloce 2000
3  Alfa Romeo  Spider Veloce 2000
4  AM General   DJ Po Vehicle 2WD