In [2]:
import pandas as pd
import numpy as np

In [11]:
fuel = pd.read_csv("dane/course-files/fuel.csv", low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col=['Vehicle ID'])
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [12]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [15]:
fuel['Year'] = fuel['Year'].astype('int32')

In [16]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 8.8 MB

In [18]:
fuel['Make'].value_counts()

Chevrolet                 3389
Ford                      2721
Dodge                     2361
GMC                       2174
Toyota                    1599
                          ...
CODA Automotive              1
McLaren Automotive           1
Excalibur Autos              1
E. P. Dutton, Inc.           1
Lambda Control Systems       1
Name: Make, Length: 128, dtype: int64

In [19]:
fuel['Make']=fuel['Make'].astype('category')

In [20]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int32(1), object(3)
memory usage: 8.2 MB

In [21]:
fuel['Model']=fuel['Model'].astype('category')
fuel['Class']=fuel['Class'].astype('category')
fuel['Fuel Type']=fuel['Fuel Type'].astype('category')

In [22]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 2.3 MB

In [23]:
fuel['Combined MPG (FT1)']=fuel['Combined MPG (FT1)'].astype('float')

In [24]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 2.3 MB