In [1]:
import pandas as pd
import numpy as np

In [3]:
fortune = pd.read_csv("dane/course-files/Fortune_500_2017.csv", usecols = ['Rank','Title','Industry','Hqlocation','Sector'])
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX"
4,5,McKesson,Wholesalers,Wholesalers: Health Care,"San Francisco, CA"

In [4]:
fortune['Sector'] = fortune['Sector'].str.upper()
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA"

In [8]:
isComp = fortune['Industry'].str.lower().str.contains("comp")

In [10]:
fortune[isComp].head()

,Rank,Title,Sector,Industry,Hqlocation
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
27,28,Microsoft,TECHNOLOGY,Computer Software,"Redmond, WA"
40,41,Dell Technologies,TECHNOLOGY,"Computers, Office Equipment","Round Rock, TX"
46,47,Intel,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
60,61,HP,TECHNOLOGY,"Computers, Office Equipment","Palo Alto, CA"

In [11]:
fortune[['City', 'State']] = fortune['Hqlocation'].str.split(',', expand=True)

In [12]:
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA

In [19]:
def BuildShortcut(row):
    industry = row['Industry']
    result = ''
    industry = industry.split(' ')
    for i in industry:
        result += i[0]
    return result

In [20]:
dict = {'Industry':'Factory Under Newspaper'}

In [21]:
BuildShortcut(dict)

'FUN'

In [24]:
fortune['Industry Short'] = fortune.apply(BuildShortcut, axis = 1)

In [25]:
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State,Industry Short
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR,GM
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE,IPaC(
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA,COE
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX,PR
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA,WHC