In [1]:
import pandas as pd

In [2]:
professions = pd.read_csv("dane/course-files/Prestige.csv", index_col='name')
professions.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [4]:
professions.loc['chemists', 'type'] = 'scientist'
professions.head()

                     education   income  women  prestige  census       type
name
gov.administrators       13.11  12351.0  11.16      68.8  1113.0       prof
general.managers         12.26  25879.0   4.02      69.1  1130.0       prof
accountants              12.77   9271.0  15.70      63.4  1171.0       prof
purchasing.officers      11.42   8865.0   9.11      56.8  1175.0       prof
chemists                 14.62   8403.0  11.68      73.5  2111.0  scientist

In [5]:
isScientist= professions['type'] == 'scientist'

In [6]:
isScientist.head()

name
gov.administrators     False
general.managers       False
accountants            False
purchasing.officers    False
chemists                True
Name: type, dtype: bool

In [8]:
professions.loc[isScientist, 'prestige'] = 90
professions.head()

                     education   income  women  prestige  census       type
name
gov.administrators       13.11  12351.0  11.16      68.8  1113.0       prof
general.managers         12.26  25879.0   4.02      69.1  1130.0       prof
accountants              12.77   9271.0  15.70      63.4  1171.0       prof
purchasing.officers      11.42   8865.0   9.11      56.8  1175.0       prof
chemists                 14.62   8403.0  11.68      90.0  2111.0  scientist

In [10]:
professions.loc[isScientist, 'income'] = professions.loc[isScientist, 'income']*1.5
professions.head()

                     education   income  women  prestige  census       type
name
gov.administrators       13.11  12351.0  11.16      68.8  1113.0       prof
general.managers         12.26  25879.0   4.02      69.1  1130.0       prof
accountants              12.77   9271.0  15.70      63.4  1171.0       prof
purchasing.officers      11.42   8865.0   9.11      56.8  1175.0       prof
chemists                 14.62  12604.5  11.68      90.0  2111.0  scientist

In [11]:
professions.loc[isScientist, 'income'] *=1.5
professions.head()

                     education    income  women  prestige  census       type
name
gov.administrators       13.11  12351.00  11.16      68.8  1113.0       prof
general.managers         12.26  25879.00   4.02      69.1  1130.0       prof
accountants              12.77   9271.00  15.70      63.4  1171.0       prof
purchasing.officers      11.42   8865.00   9.11      56.8  1175.0       prof
chemists                 14.62  18906.75  11.68      90.0  2111.0  scientist