In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [6]:
df = pd.read_csv('dane/course-files/marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

In [7]:
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,01:06:46,02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,01:06:44,02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,01:06:46,02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,01:06:46,02:08:11,0:05:11,7691.0,4006.0

In [8]:
group_city = df.groupby(by='City')

In [9]:
group_city.size()

City
0851 Oslo           1
20832               1
34-120 Andrychow    2
5700 Svendborg      1
95630               1
                   ..
Zurich              7
Zweibruecken        5
Zwevegem            1
Zwolle              1
hingham             1
Length: 5832, dtype: int64

In [13]:
group_city.groups

'19725'], dtype='object', name='Bib'),
 'Cave Springs': Index(['5478'], dtype='object', name='Bib'),
 'Caxias Do Sul - Rs': Index(['6683'], dtype='object', name='Bib'),
 'Cayce': Index(['25842'], dtype='object', name='Bib'),
 'Cebu City': Index(['F37'], dtype='object', name='Bib'),
 'Cecil': Index(['15084'], dtype='object', name='Bib'),
 'Cedar Crest': Index(['21657'], dtype='object', name='Bib'),
 'Cedar Falls': Index(['6687', '21749', '9878', '25935', '24802', '19965'], dtype='object', name='Bib'),
 'Cedar Hills': Index(['19039', '17589'], dtype='object', name='Bib'),
 'Cedar Knolls': Index(['1332'], dtype='object', name='Bib'),
 'Cedar Lake': Index(['17100'], dtype='object', name='Bib'),
 'Cedar Park': Index(['6432', '743', '20437', '19813', '25404', '19068'], dtype='object', name='Bib'),
 'Cedar Rapids': Index(['1875', '6661', '1899', '3936', '9310', '17938', '13856'], dtype='object', name='Bib'),
 'Cedarburg': Index(['21227', '24423'], dtype='object', name='Bib'),
 'Celbridge': Index(['3778'], dtype='object', name='Bib'),
 'Celebration': Index(['23433'], dtype='object', name='Bib'),
 'Celina': Index(['6740', '14970'], dtype='object', name='Bib'),
 'Cellatica': Index(['31458'], dtype='object', name='Bib'),
 'Centennial': Index(['919', '6507', '4751', '2786', '16968', '12754', '11244', '23044',
        '11510', '24726', '12812', '24836', '29393'],
       dtype='object', name='Bib'),
 'Center Ossipee': Index(['14792'], dtype='object', name='Bib'),
 'Center Point': Index(['12624'], dtype='object', name='Bib'),
 'Centereach': Index(['13044'], dtype='object', name='Bib'),
 'Centerport': Index(['27524', '30824', '27519', '28272', '27521'], dtype='object', name='Bib'),
 'Centerville': Index(['1150', '8107', '6867', '28255', '27160', '19934', '26229'], dtype='object', name='Bib'),
 'Central Square': Index(['13824'], dtype='object', name='Bib'),
 'Centre Hall': Index(['2843'], dtype='object', name='Bib'),
 'Centreville': Index(['16664'], dtype='object', name='Bib'),
 'Centurion': Index(['2617'], dtype='object', name='Bib'),
 'Cergy': Index(['17775'], dtype='object', name='Bib'),
 'Cerritos': Index(['4686', '14205', '24361'], dtype='object', name='Bib'),
 'Cessnock': Index(['18886'], dtype='object', name='Bib'),
 'Chadds Ford': Index(['5918', '13334'], dtype='object', name='Bib'),
 'Chagrin Falls': Index(['4662', '2761', '12689', '9746', '11001', '17827', '10851', '5533',
        '17915'],
       dtype='object', name='Bib'),
 'Chai Wan': Index(['14149'], dtype='object', name='Bib'),
 'Chalfont': Index(['6458', '16939', '22269'], dtype='object', name='Bib'),
 'Chalfont St Peter': Index(['1058'], dtype='object', name='Bib'),
 'Chambersburg': Index(['5077', '11103', '8779', '9228', '18170', '20528'], dtype='object', name='Bib'),
 'Chambly': Index(['9155', '22040', '26272'], dtype='object', name='Bib'),
 'Champaign': Index(['2781', '11202', '4813', '8008', '17036', '14453'], dtype='object', name='Bib'),
 'Champlin': Index(['2365', '2983', '11308', '19843'], dtype='object', name='Bib'),
 'Chandler': Index(['279', '4396', '5501', '3837', '16779', '10879', '19649', '18884',
        '19808', '17951', '21285', '21396'],
       dtype='object', name='Bib'),
 'Changhua': Index(['22050'], dtype='object', name='Bib'),
 'Changhua County': Index(['5339'], dtype='object', name='Bib'),
 'Chanhassen': Index(['1274', '16712', '8837', '5409', '11305', '16575', '11004', '11808',
        '19917', '19530', '12366'],
       dtype='object', name='Bib'),
 'Chantilly': Index(['2633', '22538', '19448', '16260'], dtype='object', name='Bib'),
 'Chapel Hill': Index(['222', '1375', '2480', '2744', '4183', '5482', '9271', '13296', '13664',
        '10285', '18870', '17920', '13848', '10090', '18888', '10751', '11408',
        '21570', '18349', '14723', '20072', '17567', '22471', '27889', '25980',
        '26648', '24975'],
       dtype='object', name='Bib'),
 'Chapin': Index(['20102'], dtype='object', name='Bib'),
 'Chapmanville': Index(['14918'], dtype='object', name='Bib'),
 'Chappaqua': Index(['781', '5489', '12361', '14978'], dtype='object', name='Bib'),
 'Charleston': Index(['4131', '10847', '9282', '4127', '4941', '2844', '16367', '16138',
        '4025', '17671', '14511', '16964', '25577', '23175', '29505', '31852'],
       dtype='object', name='Bib'),
 'Charlestown': Index(['F21', '3512', '8059', '6194', '12021', '2258', '12784', '17906',
        '30978', '9373', '2376', '30399', '31259', '13724', '26706', '29919',
        '30808', '8235', '18973', '27730', '20687', '17372', '29083', '12938',
        '28943', '27760', '30331', '27518', '29021', '30629', '27555', '30503',
        '30350', '13820', '30167', '27214', '28335', '30139', '32129', '29509',
        '31025', '30529', '27062', '26537', '28139', '27579', '28237', '29323',
        '29195', '27711', '30729', '27601', '29144', '26500', '29053', '30168',
        '31302', '26698', '30728', '30125', '26898', '30522', '29002', '28993',
        '29166', '31098', '29055', '27347', '30746', '28743', '28742', '28513',
        '27589', '27077', '27588', '30526', '30800', '27604', '28718', '30911',
        '27798', '30710', '26952', '28708', '30164', '30776', '31396', '27637'],
       dtype='object', name='Bib'),
 'Charlotte': Index(['1540', 'F22', '292', '899', '1752', '741', '2182', '2122', '5191',
        '2194', '723', '1873', '9116', '5928', '5220', '5022', '5032', '5604',
        '14580', '4064', '4314', '2923', '5793', '7057', '7151', '7649',
        '10972', '9934', '14934', '17869', '6119', '19219', '4821', '8363',
        '12343', '13098', '13829', '14097', '16870', '11056', '12761', '18272',
        '7076', '13096', '20858', '12507', '20213', '17830', '12178', '18956',
        '17609', '17942', '16869', '16689', '18245', '23035', '13009', '21869',
        '13687', '12908', '29205', '25312', '22197', '25231', '28091', '21923',
        '25378', '22748', '25084', '14886', '26536', '27525', '13709', '28160',
        '25791', '25435', '5328', '25769', '27625'],
       dtype='object', name='Bib'),
 'Charlottenlund': Index(['17819'], dtype='object', name='Bib'),
 'Charlottesville': Index(['3005', '269', '1330', '4840', '4490', '5936', '3242', '16764', '10317',
        '12579', '18729', '17506', '18687', '19532', '24843', '18912', '24721',
        '11945', '28726', '22293', '24200', '23301'],
       dtype='object', name='Bib'),
 'Charlottetown': Index(['369', '18078', '21967'], dtype='object', name='Bib'),
 'Charlton': Index(['2136', '9503', '28586', '27455', '31857', '27339'], dtype='object', name='Bib'),
 'Chaska': Index(['9477', '10431', '19871', '17016', '1207'], dtype='object', name='Bib'),
 'Chateau Richer': Index(['22141'], dtype='object', name='Bib'),
 'Chateauneuf Sur Charente': Index(['5163'], dtype='object', name='Bib'),
 'Chatham': Index(['438', '5615', '8859', '10576', '3519', '8514', '11079', '14593',
        '22895', '21354', '30910', '28114', '28115'],
       dtype='object', name='Bib'),
 'Chattanooga': Index(['20960', '10101', '21146', '25355', '28197', '26127', '15583'], dtype='object', name='Bib'),
 'Chelmsford': Index(['3395', '3397', '9226', '3698', '2598', '20901', '20190', '14048',
        '30308', '22174', '31116', '23435', '22312', '32091', '22324', '30452',
        '29235', '27068', '27758', '28502', '27620'],
       dtype='object', name='Bib'),
 'Chelsea': Index(['4126', '2046', '12130', '19034', '30312', '28497', '30457', '28922'], dtype='object', name='Bib'),
 'Cheltenham': Index(['4058', '26000', '25582'], dtype='object', name='Bib'),
 'Chemnitz': Index(['26055'], dtype='object', name='Bib'),
 'Cheng Du': Index(['12105'], dtype='object', name='Bib'),
 'Chengdu': Index(['31409', '31410'], dtype='object', name='Bib'),
 'Chengdu ?sichuan Province': Index(['12975'], dtype='object', name='Bib'),
 'Chengdu Sichuan': Index(['11821', '18851'], dtype='object', name='Bib'),
 'Cherokee': Index(['15552'], dtype='object', name='Bib'),
 'Cherry Hill': Index(['3157', '30279'], dtype='object', name='Bib'),
 'Cherry Valley': Index(['23164', '26597'], dtype='object', name='Bib'),
 'Chesapeake': Index(['6330', '8714', '4340', '19931', '20310', '27911', '23256'], dtype='object', name='Bib'),
 'Cheshire': Index(['20442', '23147', '18809', '20634', '17244', '23506'], dtype='object', name='Bib'),
 'Chesnee': Index(['15512'], dtype='object', name='Bib'),
 'Chester': Index(['6025', '10276', '5837', '13403', '20853', '22838', '28681', '31473',
        '24518', '31471'],
       dtype='object', name='Bib'),
 'Chester Springs': Index(['8555', '17691', '18896', '25424'], dtype='object', name='Bib'),
 'Chesterbrook': Index(['4301', '20703'], dtype='object', name='Bib'),
 'Chesterfield': Index(['1576', '3003', '9269', '2490', '17516', '20636', '21785', '3774',
        '19290', '12873', '25765', '23361', '30617'],
       dtype='object', name='Bib'),
 'Chesterland': Index(['2725'], dtype='object', name='Bib'),
 'Chesterton': Index(['25676', '26728'], dtype='object', name='Bib'),
 'Chestnut': Index(['17199'], dtype='object', name='Bib'),
 'Chestnut Hill': Index(['847', '5893', '29565', '28538', '7078', '32072', '27782', '26401',
        '26914', '29349', '29006', '29513', '29084', '29636', '28914', '30915',
        '30726', '30765', '28055', '30930', '30789', '26717', '28778', '29883',
        '27789', '27530'],
       dtype='object', name='Bib'),
 'Cheung Sha Wan': Index(['10892'], dtype='object', name='Bib'),
 'Chevilly Larue': Index(['19919'], dtype='object', name='Bib'),
 'Chevy Chase': Index(['3912', '5307', '17751', '10659', '22267', '22372', '22975', '27690'], dtype='object', name='Bib'),
 'Cheyenne': Index(['6731', '13944', '24299', '8916'], dtype='object', name='Bib'),
 'Chiaravalle - An': Index(['31626'], dtype='object', name='Bib'),
 'Chiba': Index(['1796', '31703', '17053', '31721'], dtype='object', name='Bib'),
 'Chicago': Index(['742', '216', '370', '896', '946', '755', '854', '311', '1205', '1519',
        ...
        '14172', '14178', '29447', '26948', '15525', '26257', '29660', '23294',
        '31446', '15539'],
       dtype='object', name='Bib', length=261),
 'Chichester': Index(['5602', '12688', '3354'], dtype='object', name='Bib'),
 'Chico': Index(['9190', '19129', '24199'], dtype='object', name='Bib'),
 'Chicopee': Index(['9762', '25341', '28336', '30619'], dtype='object', name='Bib'),
 'Chicoutimi': Index(['1434', '3554', '3711'], dtype='object', name='Bib'),
 'Chihuahua': Index(['5794', '298', '11684', '8226', '20201', '23470', '25226'], dtype='object', name='Bib'),
 'Chillicothe': Index(['19171'], dtype='object', name='Bib'),
 'Chilton': Index(['23327', '25539'], dtype='object', name='Bib'),
 'Chinnor': Index(['13933'], dtype='object', name='Bib'),
 'Chino': Index(['3801'], dtype='object', name='Bib'),
 'Chino Hills': Index(['4226', '11114', '9575', '22606', '10075', '19778', '22760', '26991'], dtype='object', name='Bib'),
 'Chippewa Falls': Index(['13008'], dtype='object', name='Bib'),
 'Chipstead': Index(['20757'], dtype='object', name='Bib'),
 'Chislehurst': Index(['6519'], dtype='object', name='Bib'),
 'Choctaw': Index(['5164', '20373', '24459'], dtype='object', name='Bib'),
 'Chongqing': Index(['3955'], dtype='object', name='Bib'),
 'Christchurch': Index(['5818'], dtype='object', name='Bib'),
 'Christiansburg': Index(['24113'], dtype='object', name='Bib'),
 'Christiansted': Index(['27381'], dtype='object', name='Bib'),
 'Chuckey': Index(['8536'], dtype='object', name='Bib'),
 'Chula Vista': Index(['2240', '5290', '10562', '23254'], dtype='object', name='Bib'),
 'Chunchula': Index(['17894'], dtype='object', name='Bib'),
 'Churchville': Index(['27479'], dtype='object', name='Bib'),
 'Churubusco': Index(['5324', '4938'], dtype='object', name='Bib'),
 'Cicero': Index(['13391', '10699', '7173'], dtype='object', name='Bib'),
 'Cicinnati': Index(['9830'], dtype='object', name='Bib'),
 'Cincinnati': Index(['667', '5295', '10286', '3886', '1491', '9527', '2261', '4786', '6191',
        '5838', '6860', '1629', '3623', '10523', '7622', '5352', '3533', '3203',
        '10083', '6443', '6479', '11895', '10095', '10950', '9676', '16119',
        '17546', '10210', '10682', '7683', '9081', '17239', '4942', '6586',
        '14767', '17791', '13615', '14885', '17269', '9920', '11849', '16127',
        '395', '16091', '3619', '6614', '19160', '12411', '5033', '19194',
        '17745', '20245', '17067', '20826', '3451', '17955', '12466', '15107',
        '22455', '11862', '14963', '22107', '17439', '3744', '24067', '24351',
        '24029', '22886', '13573', '25154', '25126', '24315', '29219', '24886',
        '25713', '18931', '19117', '21900', '25794', '25427', '31115', '22735',
        '11528', '26076', '30374', '12676', '30458', '29031'],
       dtype='object', name='Bib'),
 'Cingoli-Mc': Index(['9994'], dtype='object', name='Bib'),
 'Circle Pines': Index(['14849'], dtype='object', name='Bib'),
 'Citrus Heights': Index(['3313', '20742', '17329', '26298'], dtype='object', name='Bib'),
 'City Beach': Index(['5549'], dtype='object', name='Bib'),
 'Ciudad Autonoma De Buenos Aires': Index(['2795', '22648'], dtype='object', name='Bib'),
 'Ciudad De Buenos Aires': Index(['6475', '31574'], dtype='object', name='Bib'),
 'Ciudad De Guatemala': Index(['8633'], dtype='object', name='Bib'),
 'Ciudad De Mexico': Index(['16527'], dtype='object', name='Bib'),
 'Ciudad De México': Index(['3635', '12083', '25188'], dtype='object', name='Bib'),
 'Ciudad Guzman Jalisco': Index(['4071'], dtype='object', name='Bib'),
 'Ciudad Victoria, Tamaulipas': Index(['20615'], dtype='object', name='Bib'),
 'Ciudad de México': Index(['4070'], dtype='object', name='Bib'),
 'Cividate Al Piano': Index(['31526'], dtype='object', name='Bib'),
 'Clackamas': Index(['12682'], dtype='object', name='Bib'),
 'Clancy': Index(['16074'], dtype='object', name='Bib'),
 'Clanton': Index(['14611'], dtype='object', name='Bib'),
 'Clara': Index(['31755'], dtype='object', name='Bib'),
 'Clare': Index(['7211'], dtype='object', name='Bib'),
 'Claremont': Index(['11031', '10772', '7432', '15403', '19431', '5316', '18157', '22681',
        '27115'],
       dtype='object', name='Bib'),
 'Claremore': Index(['11624', '16667'], dtype='object', name='Bib'),
 'Clarendon Hills': Index(['9816', '17308'], dtype='object', name='Bib'),
 'Clarenville': Index(['5108'], dtype='object', name='Bib'),
 'Clarks': Index(['26015'], dtype='object', name='Bib'),
 'Clarks Green': Index(['21916'], dtype='object', name='Bib'),
 'Clarks Summit': Index(['16303'], dtype='object', name='Bib'),
 'Clarksboro': Index(['15547'], dtype='object', name='Bib'),
 'Clarksburg': Index(['17872'], dtype='object', name='Bib'),
 'Clarkston': Index(['650', '257', '2085', '3809', '13707', '12951', '11155', '20684',
        '9564', '19271', '24930', '27967', '14085'],
       dtype='object', name='Bib'),
 'Clarksville': Index(['11569', '14052', '16263', '9728', '12607', '14891', '15302'], dtype='object', name='Bib'),
 'Clathymore, Perthshire': Index(['22398'], dtype='object', name='Bib'),
 'Clawson': Index(['19135', '19941'], dtype='object', name='Bib'),
 'Clay': Index(['8974'], dtype='object', name='Bib'),
 'Clayfield': Index(['27288'], dtype='object', name='Bib'),
 'Claymont': Index(['4822'], dtype='object', name='Bib'),
 'Clayton': Index(['581', '3738', '7614', '5310', '5809', '21563', '23341', '22169'], dtype='object', name='Bib'),
 'Clear Lake': Index(['21390'], dtype='object', name='Bib'),
 'Clearfield': Index(['14241', '7221'], dtype='object', name='Bib'),
 'Clearwater': Index(['16795', '25472'], dtype='object', name='Bib'),
 'Cleethorpes': Index(['13916'], dtype='object', name='Bib'),
 'Clemmons': Index(['18277'], dtype='object', name='Bib'),
 'Clemson': Index(['2155', '20443', '18308', '15320'], dtype='object', name='Bib'),
 'Clermont': Index(['2494', '17720', '21682', '18109', '25936'], dtype='object', name='Bib'),
 'Cleveland': Index(['4275', '3372', '6645', '6885', '4292', '13679', '18087', '14451',
        '13910', '17944', '2954', '16581'],
       dtype='object', name='Bib'),
 'Cleveland Heights': Index(['1154', '5865', '6290', '1910', '9968', '16895', '24890'], dtype='object', name='Bib'),
 'Cleves': Index(['4101'], dtype='object', name='Bib'),
 'Cliffside Park': Index(['4859'], dtype='object', name='Bib'),
 'Clifton': Index(['10685', '12155', '17639', '15179', '25893'], dtype='object', name='Bib'),
 'Clifton Park': Index(['2783', '5671', '8496', '9872', '13502', '10672', '18362', '19493',
        '17975'],
       dtype='object', name='Bib'),
 'Clinton': Index(['4540', '29684', '16819', '23581', '12304', '14956', '18047', '23021',
        '8281', '30538'],
       dtype='object', name='Bib'),
 'Clinton Corners': Index(['8439'], dtype='object', name='Bib'),
 'Clinton Township': Index(['1254', '26324'], dtype='object', name='Bib'),
 'Clive': Index(['10567'], dtype='object', name='Bib'),
 'Clonakilty': Index(['31751'], dtype='object', name='Bib'),
 'Clondalkin': Index(['3988'], dtype='object', name='Bib'),
 'Cloquet': Index(['8203', '23476'], dtype='object', name='Bib'),
 'Closter': Index(['6556', '19061', '30054'], dtype='object', name='Bib'),
 'Cloudcroft': Index(['4863', '24081'], dtype='object', name='Bib'),
 'Clover': Index(['22221'], dtype='object', name='Bib'),
 'Clovis': Index(['16787', '23286'], dtype='object', name='Bib'),
 'Clute': Index(['22205'], dtype='object', name='Bib'),
 'Clyde Hill': Index(['5531', '11610'], dtype='object', name='Bib'),
 'Clymer': Index(['12477'], dtype='object', name='Bib'),
 'Co Cork': Index(['19748'], dtype='object', name='Bib'),
 'Co Down, N Ireland': Index(['31748', '31738'], dtype='object', name='Bib'),
 'Co Dublin': Index(['5488', '29535', '24816'], dtype='object', name='Bib'),
 'Co Galway': Index(['10201', '28930'], dtype='object', name='Bib'),
 'Co Kildare': Index(['31795'], dtype='object', name='Bib'),
 'Co Limerick': Index(['31726', '31728'], dtype='object', name='Bib'),
 'Co Tyrone, N Ireland': Index(['31789'], dtype='object', name='Bib'),
 'Co Wexford': Index(['29417'], dtype='object', name='Bib'),
 'Co Wicklow': Index(['27999'], dtype='object', name='Bib'),
 'Coatesville': Index(['19657'], dtype='object', name='Bib'),
 'Cobourg': Index(['7501'], dtype='object', name='Bib'),
 'Cochrane': Index(['3058', '20507', '17354', '17785'], dtype='object', name='Bib'),
 'Cockeysville': Index(['6469', '24743', '25335'], dtype='object', name='Bib'),
 'Cocoa': Index(['12101'], dtype='object', name='Bib'),
 'Coconut Creek': Index(['5662'], dtype='object', name='Bib'),
 'Cody': Index(['8717', '26804'], dtype='object', name='Bib'),
 'Coeur D Alene': Index(['8145'], dtype='object', name='Bib'),
 "Coeur D'Alene": Index(['903', '6417'], dtype='object', name='Bib'),
 'Cohasset': Index(['5511', '20414', '28747', '30100', '6309', '29236', '28018', '30740',
        '30465', '30685', '30992', '30866', '30462'],
       dtype='object', name='Bib'),
 'Cohoes': Index(['26697'], dtype='object', name='Bib'),
 'Cohutta': Index(['1787'], dtype='object', name='Bib'),
 'Cokeville': Index(['16514'], dtype='object', name='Bib'),
 'Colbert': Index(['19345'], dtype='object', name='Bib'),
 'Colchester': Index(['4410', '1884', '15250', '19528', '7080', '32078', '22902', '17343',
        '21601', '21987'],
       dtype='object', name='Bib'),
 'Cold Spring Harbor': Index(['6869'], dtype='object', name='Bib'),
 'Coldwater': Index(['17413', '21952', '21914'], dtype='object', name='Bib'),
 'Coleraine': Index(['18426'], dtype='object', name='Bib'),
 'Colina': Index(['1573'], dtype='object', name='Bib'),
 'Colina, Santiago': Index(['31997'], dtype='object', name='Bib'),
 'College Park': Index(['12202', '22249'], dtype='object', name='Bib'),
 'College Station': Index(['1541', '5306', '23207'], dtype='object', name='Bib'),
 'Collegeville': Index(['3069', '8671', '3226', '10138', '18552', '18817', '21611', '19210',
        '21423', '16942', '20632'],
       dtype='object', name='Bib'),
 'Colleyville': Index(['5686', '12095', '22387', '21983', '24435'], dtype='object', name='Bib'),
 ...}

In [14]:
group_city.get_group('San Francisco').head()

,Age,M/F,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,
796,28,M,CA,USA,01:18:12,02:29:21,0:06:02,8961.0,4692.0
36,30,M,CA,USA,01:14:21,02:30:00,0:06:05,9000.0,4461.0
1267,27,M,CA,USA,01:19:24,02:33:24,0:06:11,9204.0,4764.0
644,51,M,CA,USA,01:19:29,02:37:08,0:06:22,9428.0,4769.0
827,33,M,CA,USA,01:18:52,02:38:13,0:06:24,9493.0,4732.0

In [15]:
group_city.get_group('San Francisco').mean()

Age                            36.3096
Half            0 days 01:42:24.390862
40K             0 days 03:25:35.335025
TotalSeconds                   12335.3
HalfSeconds                    6144.39
dtype: object

In [16]:
group_city.get_group('San Francisco')['40K'].mean()

Timedelta('0 days 03:25:35.335025')

In [17]:
group_city.get_group('34-120 Andrychow')['40K'].mean()

Timedelta('0 days 03:55:11')

In [18]:
group_city.first()

,Age,M/F,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
City,,,,,,,,,
0851 Oslo,39,F,NaN,NOR,01:35:31,03:15:24,0:07:55,11724.0,5731.0
20832,35,M,MD,USA,01:35:57,03:14:00,0:07:51,11640.0,5757.0
34-120 Andrychow,44,F,NaN,POL,01:58:39,03:55:09,0:09:28,14109.0,7119.0
5700 Svendborg,58,M,NaN,DEN,01:49:12,03:44:58,0:09:05,13498.0,6552.0
95630,46,F,CA,USA,01:50:25,03:37:23,0:08:44,13043.0,6625.0
...,...,...,...,...,...,...,...,...,...
Zurich,42,M,NaN,SUI,01:32:09,03:03:15,0:07:26,10995.0,5529.0
Zweibruecken,58,F,NaN,GER,02:22:22,04:56:52,0:11:57,17812.0,8542.0
Zwevegem,61,M,NaN,BEL,02:15:30,04:42:02,0:11:18,16922.0,8130.0
Zwolle,46,M,NaN,NED,01:33:21,03:04:11,0:07:27,11051.0,5601.0
hingham,32,M,MA,USA,01:24:38,02:45:08,0:06:39,9908.0,5078.0

In [20]:
group_age = df.groupby(by = 'Age')

In [22]:
group_age.get_group(20)['40K'].mean()

Timedelta('0 days 03:36:54.583333')

In [23]:
group_age.get_group(40)['40K'].mean()

Timedelta('0 days 03:35:22.724557')

In [28]:
print(group_age.first().head())

M/F         City State Country     Half      40K     Pace  TotalSeconds  \
Age
18    M      Needham    MA     USA 01:22:35 02:38:30  0:06:23        9510.0
19    M   Plainfield    IL     USA 01:25:28 02:42:30  0:06:33        9750.0
20    M  Addis Ababa    MI     ETH 01:06:45 02:14:23  0:05:26        8063.0
21    M  Addis Ababa    MA     ETH 01:06:45 02:05:59  0:05:04        7559.0
22    M       Eugene    OR     USA 01:13:53 02:24:35  0:05:52        8675.0

     HalfSeconds
Age
18        4955.0
19        5128.0
20        4005.0
21        4005.0
22        4433.0